/manuscript.aux
/manuscript.bbl
/manuscript.blg
/manuscript.fdb_latexmk
/manuscript.fls
/manuscript.log
/manuscript.out
/manuscript.pdf
/manuscript.thm
/rendered/
/rendered_final/
/siamonline250211.cls
/siamplain.bst
